.login-form-button {
    width: 100%;
}

.login-page {
    background-color: #e4fbf5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    color: white;
}

.login-logo {
    height: 15vmin;
    pointer-events: none;
}
