.list-container:hover {
    background-color: #f0f9f5;
    transition-duration: 0.2s;
    cursor: pointer;
}

.ant-form .ant-list {
    margin-top: 25px;
    height: 450px;
    overflow: auto;
    width: 100%;
}

.list-container {
    padding: 20px;
    position: relative;
    border-width: 0px;
    border-top: #eeeeee;
    border-top-width: 1px;
    border-style: solid;
}

.ant-list-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    width: 80%;
}

.list-container .ant-checkbox-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-right: 20px;
    height: 20px;
    font-size: 0px;
}

.list-container .ant-checkbox-wrapper hover {
    pointer-events: none;
}

.ant-modal {
    margin-top: 200px;
    margin-bottom: 200px;
}
